* {

width: auto;
height: auto;

min-width: 0;
max-width: none;
min-height: 0;
max-height: none;

margin: 0;
padding: 0;

line-height: normal;
vertical-align: baseline;

position: static;

font-size: medium;

top: auto;
bottom: auto;
left: auto;
right: auto;

float: none;
clear: none;

font-family:serif;
color:black;
text-decoration:none;

box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */

}