 * {
     margin : 0;
     padding : 0;
}

h1 {
    position:absolute;
    bottom:50px;
    z-index:1;
    opacity:0.2;
    cursor:pointer;
    color:#FFFFFF;
    transition:opacity 0.2s;
}

h1:hover {
    opacity:1;
}

.player {
    width: 500px;
    position:relative;
}

.player:fullscreen, video:fullscreen {
    width:100%;
    height:100%;
}

.controls:fullscreen {
    position:fixed;
    left:0;
    right:0;
    bottom:0;
}

.track, .buttons {
    height : 25px;
}

.track {
    width : 100%;
    background:grey;
    position:relative;
}

.time, .buffer {
    height : 100%;
    width:0;
    position:absolute;
    top:0;
    left:0;
}

.time {
    transition:width 0.2s;
    background:green;
    z-index:2;
}

.buffer {
    background:rgba(0,0,0,0.5);
    z-index:1;
}
