
object, iframe {
	border: none;
	width:100%;
	height:500px;
}

header {
	margin-top:-20px;
}

#editor
{
	width:100%;
	height:100%;
}

#global-container{
	position:relative;
}

#main-container {
	position:absolute;
	padding-right:20px;
	top:0;
	right:0;
}

#main-container.fixed {
	padding-top:20px;
	position:fixed;
}

#main-container .well
{
	background-color:white;
	border-width: 5px;
}

#test-list li
{
	background-color:white;
}

#editorModal {
	width:auto;
	left:10%;
	right:10%;
	margin:0;
}

#editorModal .modal-body {
	height:500px;
	max-height:70%;
	overflow:visible;
	padding:0;
}