 * {
     margin : 0;
     padding : 0;
}

h1 {
    position:absolute;
    bottom:50px;
    z-index:1;
    opacity:0.2;
    cursor:pointer;
    color:#FFFFFF;
    transition:opacity 0.2s;
}

h1:hover {
    opacity:1;

}

.player {
    width: 500px;
    position:relative;
}

.track, .buttons {
    height : 25px;
}

.track {
    width : 100%;
    background:grey;
}

.time {
    height : 100%;
    background:green;
    width:0;
}
